register_types.os
AIAction.os
AIBehaviour.os
AIConsideration.os
AIConsiderationBase.os
AIConsiderationGroup.os
utility_ai.code-workspace
.vscode/c_cpp_properties.json
UtilityAIAgent.os
UtilityAIAction.os
UtilityAIBehaviour.os
UtilityAIConsideration.os
UtilityAIConsiderationBase.os
UtilityAIConsiderationGroup.os
UtilityAIActionBase.os
UtilityAIActionGroup.os
UtilityAI.os
UtilityAIActions.os
UtilityAIConsiderations.os
UtilityAISensor.os
UtilityAISensorGroup.os
UtilityAISensors.os
register_types.windows.template_debug.x86_64.obj
register_types.windows.template_release.x86_64.obj
UtilityAI.windows.template_debug.x86_64.obj
UtilityAI.windows.template_release.x86_64.obj
UtilityAIAction.windows.template_debug.x86_64.obj
UtilityAIAction.windows.template_release.x86_64.obj
UtilityAIActionGroup.windows.template_debug.x86_64.obj
UtilityAIActionGroup.windows.template_release.x86_64.obj
UtilityAIActions.windows.template_debug.x86_64.obj
UtilityAIActions.windows.template_release.x86_64.obj
UtilityAIAgent.windows.template_debug.x86_64.obj
UtilityAIAgent.windows.template_release.x86_64.obj
UtilityAIBehaviour.windows.template_debug.x86_64.obj
UtilityAIBehaviour.windows.template_release.x86_64.obj
UtilityAIConsideration.windows.template_debug.x86_64.obj
UtilityAIConsideration.windows.template_release.x86_64.obj
UtilityAIConsiderationGroup.windows.template_debug.x86_64.obj
UtilityAIConsiderationGroup.windows.template_release.x86_64.obj
UtilityAIConsiderations.windows.template_debug.x86_64.obj
UtilityAIConsiderations.windows.template_release.x86_64.obj
UtilityAISensor.windows.template_debug.x86_64.obj
UtilityAISensor.windows.template_release.x86_64.obj
UtilityAISensorGroup.windows.template_debug.x86_64.obj
UtilityAISensorGroup.windows.template_release.x86_64.obj
UtilityAISensors.windows.template_debug.x86_64.obj
UtilityAISensors.windows.template_release.x86_64.obj
UtilityAIBehaviourGroup.windows.template_debug.x86_64.obj
UtilityAIBehaviourGroup.windows.template_release.x86_64.obj
UtilityAIBehaviourGroup.os
compile_commands.json
.sconsign.dblite
*.so
*.dll
demo/.godot/
bin/libutilityai.windows.template_debug.x86_64.exp
bin/libutilityai.windows.template_debug.x86_64.lib
bin/libutilityai.windows.template_release.x86_64.exp
bin/libutilityai.windows.template_release.x86_64.lib
src/SpecialSensors/UtilityAIDistanceVector3Sensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIDistanceVector3Sensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIDistanceVector2Sensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIDistanceVector2Sensor.windows.template_release.x86_64.obj
.vscode/settings.json
src/SpecialSensors/UtilityAIBooleanSensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIBooleanSensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIFloatRangeSensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIFloatRangeSensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIIntRangeSensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIIntRangeSensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIBooleanSensor.os
src/SpecialSensors/UtilityAIDistanceVector2Sensor.os
src/SpecialSensors/UtilityAIDistanceVector3Sensor.os
src/SpecialSensors/UtilityAIFloatRangeSensor.os
src/SpecialSensors/UtilityAIIntRangeSensor.os
src/SpecialSensors/UtilityAIAngleVector3Sensor.os
src/SpecialSensors/UtilityAIAngleVector2Sensor.os
src/SpecialSensors/UtilityAIAngleVector2Sensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIAngleVector2Sensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIAngleVector3Sensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIAngleVector3Sensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIArea3DProximitySensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIArea3DProximitySensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIArea3DVisibilitySensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIArea3DVisibilitySensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIArea2DVisibilitySensor.windows.template_debug.x86_64.obj
src/SpecialSensors/UtilityAIArea2DVisibilitySensor.windows.template_release.x86_64.obj
src/SpecialSensors/UtilityAIArea2DVisibilitySensor.os
.gitignore
src/SpecialSensors/UtilityAIArea3DVisibilitySensor.os
src/SpecialConsiderations/UtilityAIBooleanConsideration.windows.template_debug.x86_64.obj
src/SpecialConsiderations/UtilityAIBooleanConsideration.windows.template_release.x86_64.obj
src/NodeQuerySystem/UtilityAINodeQuerySystem.windows.template_debug.x86_64.obj
src/NodeQuerySystem/UtilityAINodeQuerySystem.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIGroupSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIGroupSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINQSSearchSpaces.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINQSSearchSpaces.windows.template_release.x86_64.obj

src/NodeQuerySystem/SearchCriteria/UtilityAICustomSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAICustomSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAISearchCriteria.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAISearchCriteria.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINodeChildrenSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINodeChildrenSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DPointGridSearchSpaces.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DPointGridSearchSpaces.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DRectangularPointGridSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DRectangularPointGridSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINQSSearchCriteria.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINQSSearchCriteria.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINodeGroupSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAINodeGroupSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIArea3DSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIArea3DSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINode3DDistanceSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINode3DDistanceSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIArea2DSearchSpace.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIArea2DSearchSpace.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIMetadataSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIMetadataSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINode2DDistanceSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAINode2DDistanceSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchSpaces/UtilityAIArea2DSearchSpace.os
src/NodeQuerySystem/SearchSpaces/UtilityAIArea3DSearchSpace.os
src/SpecialConsiderations/UtilityAIBooleanConsideration.os
src/NodeQuerySystem/SearchCriteria/UtilityAICustomSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIMetadataSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAINode2DDistanceSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAINode3DDistanceSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAINQSSearchCriteria.os
src/NodeQuerySystem/SearchSpaces/UtilityAINodeChildrenSearchSpace.os
src/NodeQuerySystem/SearchSpaces/UtilityAINodeGroupSearchSpace.os
src/NodeQuerySystem/SearchSpaces/UtilityAINQSSearchSpaces.os
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DPointGridSearchSpaces.os
src/NodeQuerySystem/SearchSpaces/PointGridSearchSpaces/UtilityAINavigation3DRectangularPointGridSearchSpace.os
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2DistanceSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2DistanceSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3DistanceSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3DistanceSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2DistanceSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3DistanceSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2AngleSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2AngleSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3XZAngleSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3XZAngleSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3AngleSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3AngleSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIVector2AngleSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3AngleSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIVector3XZAngleSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector2SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector2SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3XZSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3XZSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode2DSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode2DSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode3DSearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode3DSearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector2SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector2SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector3SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector3SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector2SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIAngleToVector3XZSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode2DSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToNode3DSearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector2SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDistanceToVector3SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector2SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector2SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector3SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector3SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector2SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductVector3SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector3SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector3SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector2SearchCriterion.windows.template_debug.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector2SearchCriterion.windows.template_release.x86_64.obj
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector2SearchCriterion.os
src/NodeQuerySystem/SearchCriteria/UtilityAIDotProductToPositionVector3SearchCriterion.os
src/SpecialConsiderations/UtilityAICustomPropertyConsideration.windows.template_debug.x86_64.obj
src/SpecialConsiderations/UtilityAICustomPropertyConsideration.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBehaviourTreeNodes.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBehaviourTreeNodes.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTAgent.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTAgent.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTLeaf.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTLeaf.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTSelector.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTSelector.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTSequence.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTSequence.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTScoreBasedPicker.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTScoreBasedPicker.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTInverter.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTInverter.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTParallel.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTParallel.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRunNQSQuery.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRunNQSQuery.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTFixedResult.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTFixedResult.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRandomSelector.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTRandomSelector.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRandomSequence.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTRandomSequence.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBehaviourTreeNodes.os
src/BehaviourTree/UtilityAIBTAgent.os
src/BehaviourTree/UtilityAIBTFixedResult.os
src/BehaviourTree/UtilityAIBTInverter.os
src/BehaviourTree/UtilityAIBTLeaf.os
src/BehaviourTree/UtilityAIBTParallel.os
src/BehaviourTree/UtilityAIBTRandomSelector.os
src/BehaviourTree/UtilityAIBTRandomSequence.os
src/BehaviourTree/UtilityAIBTRunNQSQuery.os
src/BehaviourTree/UtilityAIBTScoreBasedPicker.os
src/BehaviourTree/UtilityAIBTSelector.os
src/BehaviourTree/UtilityAIBTSequence.os
src/SpecialConsiderations/UtilityAICustomPropertyConsideration.os
src/BehaviourTree/UtilityAIBTNodeReference.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTNodeReference.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTNodeReference.os
src/BehaviourTree/UtilityAIBTPassThrough.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTPassThrough.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTPassBy.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTPassBy.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownTicks.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownTicks.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownUsec.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownUsec.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownMsec.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTCooldownMsec.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRoot.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTRoot.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTLimiter.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTLimiter.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRepeater.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTRepeater.windows.template_release.x86_64.obj
src/BehaviourTree/UtilityAIBTRepeatUntil.windows.template_debug.x86_64.obj
src/BehaviourTree/UtilityAIBTRepeatUntil.windows.template_release.x86_64.obj
